# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Testing / coverage
htmlcov/
.coverage
.coverage.*
coverage/
.pytest_cache/

# Type checking
.mypy_cache/

# Virtual environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables and secrets
.env
.flaskenv
secrets.toml
debug.log
uvicorn.log

# IDE-specific files (optional, adjust as needed)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
